.container {
    max-width:900px;
    margin: 0 auto; 
    
    
}

.images-container {
    width: 600px;
    margin: 50px auto;
    position: relative;
}

.image-item {
    width:600px;
    height: 300px;
    margin: 0 auto;

}

.none {
    display: none;
}


.image-item > img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.up {
    position: absolute;
    top: 0px;
    left: 50%;
}

.down {
    position: absolute;
    bottom: 0px;
    left: 50%;
}
